%h2= @task_type.name
%p= @task_type.description

%h3= t(:parameters)
- @task_type.parameter_types.each do |parameter_type| 
  .task-parameter
    .name= parameter_type.name
    .description= parameter_type.description
    .required= parameter_type.required? ? "Required" : "Optional"
    
